<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="artist">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Artists</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="album">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Albums</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="charts">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>Browse</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="playlist" >
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Playlist</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
