h1, h2, h3 {
  font-size: 3em;
}

ion-img {
  width: 10em;
  height: 10em;
}
ion-img::part(image) {
  object-fit: cover;
}

ion-segment::-webkit-scrollbar {
  display: none;
}

ion-segment {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
